<h1><span>Hotels</span> just for <span>you</span></h1>
<div class="container-fluid  h-75">
    <div class="row mt-5 mb-5 justify-content-around">
        <div *ngFor="let hotel of hotels | async" class="col-xs-12 col-sm-6 col-md-4 my-4">
            <mat-card [routerLink]="['/detailsPage',hotel]" class="example-card mx-4  ">
                <mat-card-header class='ml-n2'>
                    <mat-card-title>{{hotel.title}}</mat-card-title>
                    <mat-card-subtitle>{{hotel.subtitle}}</mat-card-subtitle>
                </mat-card-header>
                <div class='card-image' >
                    <img class='card-image' src="{{hotel.imageUrl}}">
                    <div *ngIf='hotel.price' class="priceTag d-flex justify-content-center align-items-center">
                        <h4>{{hotel.price}} €</h4>
                    </div>
                </div>
                <mat-card-content class='ml-2 my-4 '>
                    <p>
                        {{hotel.message}}
                    </p>
                </mat-card-content>
                <div class='readMoreDiv d-flex justify-content-center align-items-center'>
                    <h3>Read More</h3>
                </div>
                <!-- <mat-card-actions class='ml-2 my-5'>
                    <button mat-button (click)='myFunction()'>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions> -->
            </mat-card>
        </div>
    </div>
</div>