<app-nav></app-nav>

<a href="mailto:travelAgency@gmail.com" class='floatButton d-flex justify-content-center align-items-center'>
  <div style='background-color:transparent;border: none;'><i class='fa fa-envelope-o'
      style='font-size:25px;color:white'> </i></div>
</a>
<a href="tel:555-555-5555" class='floatButton2 d-flex justify-content-center align-items-center'>
  <div style='background-color:transparent;border: none;'><i class='fa fa-phone' style='font-size:32px;color:white'>
    </i></div>
</a>
<section>
  <router-outlet></router-outlet>
</section>

<!-- Footer -->
<footer class="page-footer font-small footer pt-4">

  <!-- Footer Elements -->
  <div class="container">
    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="mailto:travelAgency@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="https://plus.google.com/">
          <i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Kosmas Priftis</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->