.floatButton {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #AF0808;
    bottom: 24px;
    right: 24px;
    -webkit-transition: all .4s ease-in-out; 
    z-index: 1000;
    webkit-box-shadow: 8px 8px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 24px -6px rgba(0,0,0,0.75)
}

.floatButton2 {
    position: fixed;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #AF0808;
    bottom: 24px;
    right: 114px;
    -webkit-transition: all .4s ease-in-out; 
    z-index: 1000;
    webkit-box-shadow: 8px 8px 24px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 8px 24px -6px rgba(0,0,0,0.75);
    box-shadow: 8px 8px 24px -6px rgba(0,0,0,0.75)
}

.floatButton2:hover {
  /* -webkit-transform: translateY(-15px); */
  -webkit-transform: scale(1.15,1.15);
}

.floatButton:hover {
    /* -webkit-transform: translateY(-15px); */
    -webkit-transform: scale(1.15,1.15);
  }

button:focus {
    outline:none;
}

.footer {
  background-color: #28497A;
}

i{color:white;}