<app-nav></app-nav>
<a href="mailto:travelAgency@gmail.com" class='floatButton d-flex justify-content-center align-items-center'>
  <div style='background-color:transparent;border: none;'><i class='fa fa-envelope-o'
      style='font-size:25px;color:white'> </i></div>
  </a>
<a href="tel:555-555-5555" class='floatButton2 d-flex justify-content-center align-items-center'>
  <div style='background-color:transparent;border: none;'><i class='fa fa-phone'
      style='font-size:32px;color:white'> </i></div>
  </a>
<section class='h-100'>
  <router-outlet></router-outlet>
</section>


<!-- <footer class="footer">
  <p>Footer</p>
</footer> -->