
  .dropdown {
    width: 250px;
    position: absolute;
    top: 0;
    right:15px;
    height: 100%;
    float: right; 
  }

  b {
    color:whitesmoke;
    font-size: large;
  }

  h3{
    margin-right: 15px;
  }

  .dropdown-toggle {
    position: absolute;
    right: 0;
    border-radius: 5px;
    height: 50%;
    width: 80px;
    top: 25%;
    text-align: center;
    color:white;
  }

  .logoutBtn {
    position: absolute;
    right: 0;
    border-radius: 5px;
    height: 50%;
    width: 50%;
    top: 25%;
    text-align: center;
    background-color:#AF0808;
    color:white;
  }

  #login-dp{
    position: absolute;
    margin-top: 4px;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
    border-radius: 5px;
    right: 0px;
    left: -50px;
  }

  #login-dp .help-block{
    font-size:12px    
  }
  #login-dp .bottom{
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
  }
  
  #login-dp .form-group {
    margin-bottom: 10px;
  }

  .dropdown-menu{
    /* right: 0; */
  }


  @media(max-width:900px){
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .dropdown {
      right:10px; 
    }
  }


  