
  .dropdown {
    width: 350px;
    position: absolute;
    top: 0;
    right:15px;
    height: 100%;
    float: right; 
  }

  b {
    color:whitesmoke;
    font-size: large;
  }

  h3{
    padding-right: 50%;
  }

  .dropdown-toggle {
    position: absolute;
    right: 0;
    border-radius: 5px;
    height: 75%;
    width: 30%;
    text-align: center;
    color:white;
  }

  .logoutBtn {
    position: absolute;
    right: 0;
    border-radius: 5px;
    height: 75%;
    width: 100px;
    text-align: center;
    background-color:#AF0808;
    color:white;
  }

  #login-dp{
    position: absolute;
    margin-top: 4px;
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,1);
    border-radius: 5px;
    right: 0px;
    left: -50px;
  }

  #login-dp .help-block{
    font-size:12px    
  }
  #login-dp .bottom{
    background-color:rgba(255,255,255,1);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
  }
  
  #login-dp .form-group {
    margin-bottom: 10px;
  }

  .dropdown-menu{
    /* right: 0; */
  }


  @media(max-width:900px){
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
    .dropdown {
      right:10px; 
    }
  }

  .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

  