
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About <span>Travel Agency</span></h1>
                    <h3>We are Travel Agency, the world’s most awarded travel brand, dedicated to helping you fulfil your travel dreams and create the greatest travel stories you’ll ever tell across all seven continents we visit. </h3>
                    <p class="about-paddingB">Leading the industry since 1947, each individual itinerary is crafted by our team of travel experts to give you what you crave out of your holidays: the freedom to discover and the confidence to explore. </p>
                    <p class="about-paddingB">Through immersive Trafalgar exclusives like our Be My Guest experiences, you’ll form real connections with the places you visit, every time. Our Travel Directors are with you every day of your trip, ready to help you make your travel dreams real, and our network of passionate Local Specialists and Hosts help you uncover even more of the essence of each destination through local eyes.</p>
                    <p class="about-paddingB">Importantly, at our core is making a difference to the places we visit, and we always do our part where we can. We realise that travel is one of life’s greatest gifts, so we want to ensure future generations can also enjoy the gift of travel as much as us.</p>
                    <div class="about-icons">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i id="social-fb"
                                        class="fa fa-facebook-square fa-3x social"></i></a> </li>
                            <li><a href="https://twitter.com/"><i id="social-tw"
                                        class="fa fa-twitter-square fa-3x social"></i></a> </li>
                            <li> <a href="https://plus.google.com/"><i id="social-gp"
                                        class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                            <li> <a href="mailto:travelAgency@gmail.com"><i id="social-em"
                                        class="fa fa-envelope-square fa-3x social"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>