
 
 h1 {
    color: #535353;
    font-size:25px;
    font-weight:600;
}

span {
    color: #AF0808;
    font-size:25px;
    font-weight:600;
}

input{
    margin-top: 4px;
}

.labelText{
    width: 40px;
    margin-left: 10px;
}


.componentCard {
    border-radius: 5px;
    box-shadow: 7px 14px 17px -9px rgba(0,0,0,0.63);
    /* max-width: 400px; */
    background-color: whitesmoke;
    margin-top: 20px;
    -webkit-transition: all .4s ease-in-out; 
}

.componentCard:hover {
    background-color: lightseagreen;
    -webkit-transform: scale(1.08,1.08);
}
