/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";

section {
    width: 100%;
    margin: 0 ;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color:whitesmoke;display:flex; 
    flex-direction:column;  }

footer {
    background-color: #28497A;
    margin-top:auto; 
  }
  
  i{color:white;}
